# Ignore Python compiled files
*.pyc
*.pyo
__pycache__/

# Ignore environment variables file
.env

# Ignore database files
*.db
*.sqlite3

# Ignore Log files
*.log

# Ignore OS specific files
.DS_Store
Thumbs.db
